export CLUSTER_CONTEXT=test
export DOCKER_REGISTRY=docker.io
export FILE_ALLOWLIST=25 Tasks/,24 Goals/
export IMAGE=bborbe/obsidian-redirector
export LISTEN=:9090
export PUBLIC_LISTEN=:8080
export SENTRY_DSN=replace-me
export VAULT_ALLOWLIST=Personal
